package components

import "senatus/models"

// New Task Form
templ NewTaskForm(todo models.Todo) {
	@Layout("New Task") {
		<div class="form-container">
			<h2 class="roman-heading mb-4">Nova Propositio</h2>
			<p class="senate-decree mb-4">Propose a new matter for the Senate's consideration.</p>
			
			@TaskForm(todo, "/todo", "POST", "Propose to the Senate")
		</div>
	}
} 